<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order-Summary</title>
</head>
<body>
  <div class="container">
    <img src="illustration-hero.svg" alt="" class="bigimg">
    <h1>Order Summary</h1>
    <p class="order-summary-p">You can now listen to millions of songs, audiobooks, and podcasts on any device anywhere you like!</p>
    <div class="small-container">
   <div class="small-container-content">
    <img src="icon-music.svg" alt="" class="music-icon" >
    <div class="smallest-container">
      <h2>Annual Plan</h2>
    <p class="price-text">59.99/year</p>
    </div>
    <a href="">Change</a>
   </div>
    </div>
    <button class="btn">Proceed To Payment</button>
    <p class="cancel-order">Cancel Order</p>
  </div>
</body>
</html>